.taskListItem {
    padding: 10px;
    border: solid 1px transparent;
}

.taskListItem:hover {
    background-color: #eeeeee;
    border-color: #aaaaaa;
    cursor: pointer;
}

.taskListItem p {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}